body{background-color: burlywood;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#sum{background-color: rgb(255, 213, 175);
color:black;
border-radius:8px ;
padding: 10px 10px}
#rest{background-color: rgb(255, 213, 175);
color:black;
border-radius:8px ;
padding: 10px 10px}
#mult{background-color: rgb(255, 213, 175);
color:black;
border-radius:8px ;
padding: 10px 10px}
#div{background-color: rgb(255, 213, 175);
color:black;
border-radius:8px ;
padding: 10px 10px}
